<div id="bingHome" ng-controller="HomeController">
    <div class="homeBackground">
        <img src="/Content/Image/BingWallpaper.jpg" alt="background imge" style="min-width: 960px"/>
    </div>
    <div class="homeMain">
        <div class="homeSearchContainer">
            <img class="bing-home-icon" src="/Content/Image/bing-logo-home.png" alt="home search"/>
            <input type="search" class="home-search-box" />
            <img src="/Content/Image/search-icon.png" alt="search icon" class="home-search-icon" />
        </div>
    </div>
</div>
