<div>
    <iframe width="1000" height="600" frameborder="0" src="https://www.bing.com/maps/embed/viewer.aspx?v=3&amp;cp=47.642810~-122.133976&amp;lvl=16&amp;w=800&amp;h=600&amp;sty=r&amp;typ=d&amp;pp=&amp;ps=&amp;dir=0&amp;mkt=en-us&amp;src=SHELL&amp;form=BMEMJS">
    </iframe>
    <div style="margin: 12px 0 0 0;">
        <a target="_blank" href="https://www.bing.com/maps/?cp=47.642810~-122.133976&amp;sty=r&amp;lvl=16&amp;sp=&amp;mm_embed=map">View Larger Map</a>&nbsp; |&nbsp; 
        <a target="_blank" href="https://www.bing.com/maps/?cp=47.642810~-122.133976&amp;sty=r&amp;lvl=16&amp;rtp=~pos.47.642810_-122.133976____&amp;mm_embed=dir">
            Get Directions
        </a>&nbsp; |&nbsp; 
        <a target="_blank" href="https://www.bing.com/maps/?cp=ry6dnb4tnyjm&amp;sty=b&amp;lvl=18&amp;sp=&amp;mm_embed=be">
        View Bird's Eye
        </a>
    </div>
</div>
