<div class="homeSearchContainer">
    <img class="bing-home-icon" src="/Content/Image/bing-logo-home.png" alt="home search" />
    <input type="search" class="home-search-box" />
    <img src="/Content/Image/search-icon.png" alt="search icon" class="home-search-icon" />
</div>
