<div id="bingWeb" class="homeSearchContainer" ng-controller="WebController">
    <img ng-click="goHome()" class="bing-home-icon" src="/Content/Image/bing-logo-home.png" alt="home search" />
    <input type="search" class="home-search-box" hit-enter="goSearch(keyword, '/search')" ng-model="keyword" autofocus />
    <img ng-click="goSearch(keyword, '/search')" src="/Content/Image/search-icon.png" alt="search icon" class="home-search-icon" />
</div>
<div class="sharedContentContainer ng-hide" ng-show="showResults">
    <div class="webRow" ng-repeat="row in searchResults">
        <a ng-href="{{row.url}}">{{row.title}}</a>
        <span>{{row.url}}</span>
        <div>{{row.descr}}</div>
    </div>
</div>
