<!DOCTYPE html>
<html ng-app="BingApp" ng-controller="BingShareController">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="title"></title>
    <link rel="shortcut icon" href="~/Content/Image/bing_favicon.ico" />
    <base href="/">
    @Styles.Render("~/Content/css")
    
</head>
<body >
    <header id="header">
        <a href="/"><img src="~/Content/Image/Bing-icon.png" /></a>
        <div class="headerNav">
            <a ng-show="showWeb" class="ng-hide" ng-class="{active:isActive('/search')}" href="/search">
                <span>Web</span></a>
            <a ng-class="{active:isActive('/images')}" ng-mouseover="mouseOverNav('/images')" ng-mouseleave="mouseLeaveNav()" href="/images">
                <span>Images</span>
            </a>
            <a ng-class="{active:isActive('/videos')}" ng-mouseover="mouseOverNav('/videos')" ng-mouseleave="mouseLeaveNav()" href="/videos">
                <span>Videos</span>
            </a>
            <a ng-class="{active:isActive('/news')}" ng-mouseover="mouseOverNav('/news')" ng-mouseleave="mouseLeaveNav()" href="/news">
                <span>News</span>
            </a>
            <a ng-class="{active:isActive('/maps')}" href="/maps">
                <span>Maps</span>
            </a>
            <a ng-class="{active:isActive('/explore')}" href="/explore">
                <span>Explore</span>
            </a>
            <a ng-class="{active:isActive('/history')}" href="/history">
                <span>Search History</span>
            </a>
            <div style="color: #acacac; line-height: 78px;">|</div>
            <a target="_blank" href="https://www.msn.com">MSN</a>
            <a target="_blank" href="https://www.office.com">Office Online</a>
            <a target="_blank" href="https://www.outlook.com">Outlook.com</a>
        </div>
        <div class="headerUser"></div>
    </header>
    <nav ng-show="showNav" class="ng-hide" ng-mouseover="mouseOverSubnav()" ng-mouseleave="mouseLeaveSubnav()">
        <div class="subnavLinkContainer" ng-repeat="link in subnavs">
            <div class="subnavLink" ng-click="goTo(route, link.keyword)">
                {{link.text}}
            </div>
            <span>|</span>
        </div>
    </nav>
    <div id="bingContainer" ng-view></div>
    <footer>&copy; 2016 Authorized by Chong Wang</footer>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bingapp")
</body>
</html>