html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
}

*, *:before, *:after {
    box-sizing:border-box;
}

header {
    position: fixed;
    z-index: 10;
    background-color: #333;
    width: 100%;
    padding: 14px 0;
    height: 71px;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 31px;
    align-items: center;
}

.headerNav {
    width: 800.17px;
    height: 43px;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    min-width: 768px;
}

header img {
    width: 50px;
    height: 100%;
    margin-right: 16px;
}

.headerNav a {
    display:block;
    color: #acacac;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.headerNav a:hover {
    color: #fff;
}

.active {
    color: #fff !important;
    border-bottom: 2px solid #fff;
}

/* Bing Subnav */
nav {
    position: fixed;
    height: 38px;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    top: 71px;
    z-index: 10;
}

/* Bing Container*/
#bingContainer {
    width: 100%;
    height: 100%;
    padding: 71px 0 43px 0;
}

/* Bing Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 43px;
    background-color: #333;
    z-index: 10;
    font-size: 12px;
    text-align: center;
    padding-top: 14px;
    color: #acacac;
    min-width: 768px;
}

/* Bing Home */
#bingHome {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
   
}

.homeBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -10;
}

.homeBackground img {
    width: 100%;
    height: 100%;
}

.homeMain {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
}

.homeSearchContainer {
    width: 800px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:0;
    border: 0;
    margin-left: 80px;
}

.bing-home-icon {
    width: 182px;
    height: 170px;
    margin-right: 10px;
}

#bingWeb .bing-home-icon,
#bingImages .bing-home-icon,
#bingNews .bing-home-icon,
#bingVideos .bing-home-icon {
    cursor: pointer;
}

.homeSearchContainer div input {
    display: block;
}

.home-search-box {
    width: 500px;
    height: 60px;
    padding-left: 5px;
    font-size: 26px;
}

.home-search-box:focus {
    outline: none;
}

.home-search-icon {
    width: 75px;
    height: 75px;
    margin-left: -9px;
    margin-top: -2px;
    cursor: pointer;
}

/*Remove cancel icon from search box*/
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }